.appContainer{
    flex-grow: 1;
}
.footerElm{
    margin-top: auto;
}

.map{
    width: 500px;
    height:40vh;
  }

  .createLocationPage{
      padding-bottom:40px;
      padding-left:40px;
      padding-right:40px;
      
      
  }

  .pointerBtn{
      cursor: pointer;
  }
  .pageWrapper{
      /* align-items: center; */
      display: flex;
      align-self: center;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 20px;

  }

  .createLocationPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .btnField{
    align-self: center;
    margin-top: 60px;
  }
