#th-id{
    width:20px;
}

.list-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GenericList{
    margin: 40px;
    padding-bottom: 20px;
}

.th-actions{
    justify-content: center;
}
.actions-td{
    display: flex;
    flex-direction: row;
    justify-content: center;
}