nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(46, 39, 116);
}
.nav-bar nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px; 
}
.footerElm{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.NavView{
    margin-left: 40px;
    margin-right: 40px;
    
}

.nav-bar nav a.active{
    background-color: rgb(63, 63, 63);
}

.nav-bar nav a:hover{
    background-color: rgb(63, 63, 63);
}

.topBarBtn{
    cursor: pointer;
}

.toolbar{
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-bar-title{
    color: #fff;
    align-self: center;
}

.nav-bar-btn{
    align-self: center;
}

.topBarBtn{
    align-self: center;
}