.nav-bar nav.toolbar{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(46, 39, 116);
}
.nav-bar nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px; 
}
.topBarBtn .Select-control{

    background-color: transparent !important;
}

.nav-bar-title{
    font-size: 20px;
}

.topBarBtn .Select-value-label{
    color: #fff !important;
}

.nav-bar nav a.active{
    background-color: rgb(63, 63, 63);
}

.nav-bar nav a:hover{
    background-color: rgb(63, 63, 63);
}

.addBtn{
    cursor: pointer;
}

.nav-bar-btn{
    display: flex;
    flex-direction: row;
}